.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

button.btn-section-2 {
    background-color: rgb(14, 44, 180);
    color: #ffff;
    display: block;
    margin: auto;
}

button.btn-section-2:hover {
    background-color: rgb(22, 151, 194);
}

.button-section-2 {
    margin-top: 25px;
}

h5.modal-title {
    margin: auto;
}

.modal-form {
    padding: 2rem;
}

img.imgCenter {
    display: block;
    margin: auto;
}

button.btnCenter {
    color: #ffff;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 57%;
}

.fa-facebook-square {
    color: #3b5998;
    margin: 10px;
}

.fa-google-plus-square {
    color: crimson;
    margin: 10px;
}

.fa-instagram {
    color: #fff;
    margin: 10px;
}

.socialMediaIcon {
    margin: auto;
}